

body {
  font-family: 'Open sans' ,sans-serif;
  font-size: 15px;
  line-height: 1.2;
  background: #fff;
}

.container {
  width: 800px;
  margin: auto;
  padding: 0.1em 2%;
  background: #fff;
}

h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.em;
}

.hyphenation {
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
.text-justified {
    text-align: justify;
}



img {
  align: left;
  vertical-align:middle;
}
form {
  font-size: 12px;
  margin: auto;
  padding: 10px;
  border-radius:3px;
  width: 800px;
  background-color: #cccccc;
}
form label {
  width: auto;
  font-weight: bold;
}
form input[type="url"] {
  border: 1px solid #666666;
  border-radius:3px;
  margin: 8px 0;
  padding: 3px 10px;
  width: 470px;
  background-color: #f6f6f6;
}
form input[type="submit"] {
  border-radius:5px;
  margin: auto;
  padding: 3px;
  background-color: #009539;
  color: #ffffff;
  width: 12%;
  position: static;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  font-family: 'Open Sans',sans-serif;
}
form input[type="submit"]:hover {
  cursor: pointer;
}
.mi-boton{
  margin-left: 5px;
  margin-top: 15px;
  float: right;
  text-decoration: none;
  border-radius:5px;;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  background-color: #009539;
  color: #ffffff;
  position: static;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  font-family: 'Open Sans',sans-serif;
}

